@import url('@antmjs/vantui/lib/style/var.less');

page {
  height: 100%;
}

.y-page {
  position: relative;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  .theme(background-color, '@background-color');
  .theme(padding, '@padding-xs');
}