@import url('../theme.less');

.y-input {
  color: @textColorTitle;
  font-size: @fontSizeLarge;
  line-height: 1.5;
  height: (@fontSizeLarge * 1.5);
  width: 100%;
  display: flex;
  align-items: center;

  &-extra-large {
    font-size: (@fontSizeExtraLarge+4);
    height: ((@fontSizeExtraLarge+4) * 1.5);
  }

  &-large {
    font-size: @fontSizeExtraLarge;
    height: (@fontSizeExtraLarge * 1.5);
  }

  &-small {
    font-size: @fontSizeBase;
    height: (@fontSizeBase * 1.5);
  }

  &-extra-small {
    font-size: @fontSizeSmall;
    height: (@fontSizeSmall * 1.5);
  }
}